
.header {
  position:relative;
  text-align:center;
  background: linear-gradient(60deg, rgba(84,58,183,1) 0%, rgba(0,172,193,1) 100%);
  color:white;
}
/* .headers {
  background: rgb(249, 220, 220);
} */
.logo {
  width:50px;
  fill:white;
  padding-right:15px;
  display:inline-block;
  vertical-align: middle;
}

.inner-header {
  height:65vh;
  width:100%;
  margin: 0;
  padding: 0;
}

.flex { /*Flexbox for containers*/
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.waves {
  position:relative;
  width: 100%;
  height:15vh;
  margin-bottom:-7px; /*Fix for safari gap*/
  min-height:100px;
  max-height:150px;
  background-color: rgb(6, 253, 253);
  width: 100vw;
  position: relative;
  margin-left: -50vw;
  height: 100px;
  left: 50%;
}

.content {
  position:relative;
  height:20vh;
  text-align:center;
  background-color: white;
}

/* Animation */

.parallax > use {
  animation: move-forever 25s cubic-bezier(.55,.5,.45,.5)     infinite;
}
.parallax > use:nth-child(1) {
  animation-delay: -2s;
  animation-duration: 7s;
}
.parallax > use:nth-child(2) {
  animation-delay: -3s;
  animation-duration: 10s;
}
.parallax > use:nth-child(3) {
  animation-delay: -4s;
  animation-duration: 13s;
}
.parallax > use:nth-child(4) {
  animation-delay: -5s;
  animation-duration: 20s;
}
@keyframes move-forever {
  0% {
   transform: translate3d(-90px,0,0);
  }
  100% { 
    transform: translate3d(85px,0,0);
  }
}

@media (max-width: 768px) {
  .waves {
    height:10vh;
    min-height:40px;
  }
  .content {
    height:30vh;
  }
  h1 {
    font-size:24px;
  }
}


.p-intro, .p-intro-two {
  color: #17252A;
}
  /* intro h1 typewriter */

.typewriter {
    overflow: hidden;
    /* Ensures the content is not revealed until the animation */
    border-right: 1px solid #e51b5e;
    /* The typwriter cursor */
    white-space: nowrap;
    /* Keeps the content on a single line */
    padding: 0 auto;
    /* Gives that scrolling effect as the typing happens */
    letter-spacing: 1px;
    /* Adjust as needed */
    animation: typing 3.5s steps(150, end), blink-caret .5s step-end infinite;
    /* margin: 10px 10px 0px 10px; */
    
}

/* The typing effect */

@keyframes typing {
    from {
        width: 0
    }
    to {
        width: 75%
    }
}

/* The typewriter cursor effect */

@keyframes blink-caret {
    from, to {
        border-color: transparent
    }
    50% {
        border-color: #e01d5e;
    }
}