h1 {
  font-family: 'Poppins', sans-serif;
  font-weight:300;
  letter-spacing: 2px;

}
button {
  font-family: 'Roboto', sans-serif;
}
p {
  font-family: 'Roboto', sans-serif;
  letter-spacing: 1px;
  font-size:14px;
  color: #333333;
}
.container {
  max-width: 1200px;
  width: 90%;
  margin: auto;
  z-index: 9999;/* set this to something high*/
  background-color:#fff; /* so you can see it is a block */
  min-width:100%;
}